@model Veterinaria.Modelos.Citas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Citas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="MascotaId" class="control-label"></label>
                <input asp-for="MascotaId" class="form-control" />
                <span asp-validation-for="MascotaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label"></label>
                <input asp-for="PersonalId" class="form-control" />
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioId" class="control-label"></label>
                <input asp-for="HorarioId" class="form-control" />
                <span asp-validation-for="HorarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCitaId" class="control-label"></label>
                <input asp-for="TipoCitaId" class="form-control" />
                <span asp-validation-for="TipoCitaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
